{% autoescape off %}


Gentile {{user.nom }} {{user.prenom}},

Innanzitutto desidero ringraziarti sinceramente per aver scelto il nostro servizio di banca online per aprire il tuo conto. Siamo lieti di averti come nostro cliente e ci impegniamo a offrirti un'esperienza bancaria comoda e sicura.

Abbiamo ricevuto correttamente la tua richiesta di apertura del conto e ti informiamo che al momento questa è in fase di elaborazione. I nostri team amministrativi stanno esaminando le informazioni fornite al fine di attivare il tuo conto nel minor tempo possibile.

Vogliamo assicurarti che attribuiamo grande importanza ad ogni richiesta ricevuta e che facciamo del nostro meglio per garantire un'elaborazione rapida ed efficiente.

Appena il tuo conto sarà attivato, riceverai un'altra e-mail di conferma informandoti che puoi ora accedere al tuo spazio bancario online e iniziare a usufruire dei nostri servizi.

Nel frattempo, se hai domande o preoccupazioni, non esitare a contattarci all'indirizzo e-mail [indirizzo e-mail del servizio clienti] o a chiamarci al [numero di telefono del servizio clienti]. Siamo qui per aiutarti e rispondere a tutte le tue domande.

Ti ringraziamo ancora una volta per la tua fiducia e la tua pazienza.

Cordiali saluti,

BPN

{% endautoescape %}